<!<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bid</title>
<link href="{{STATIC_URL|default:"/static/"}}css/bootstrap.css" rel="stylesheet">
<link href="{{STATIC_URL|default:"/static/"}}css/bootstrap-responsive.css" rel="stylesheet">
</head>
 
<body>

<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  

<ul class="nav">  
  <li class="active">  
    <a class="brand" href="#">Bid</a>  
  </li>  
  <li><a href="/home">All Items</a></li>  
  <li><a href="/admin">Submit Items</a></li>
  <li><a href="/award">Award Bid</a></li>
  <li><a href="/login">Register/Login</a></li>
</ul>  
    </div>  
  </div>  
</div>
<h3>Enter the  item details </h3>
<div class="container">
	<form class="form-horizontal" id="award-item" method='post'>
		<fieldset>
			<legend>Award Item</legend>
			<div class="control-group">
				<label class="control-label">Item Name</label>
				<div class="controls">
					<input type="text" id="itemName" name="name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Item Id</label>
				<div class="controls">
					<input type="text" id="bidId" name="name">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Supplier Name</label>
				<div class="controls">
					<input type="text" id="supplierName" name="type">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Value</label>
				<div class="controls">
					<input type="text" id="bidValue" name="open_date">
				</div>
			</div>
            <br><br>  
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls">
					<button type="submit" class="btn btn-success" >Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<script src="{{STATIC_URL|default:"/static/"}}/js/jquery.js"></script>
<script src="{{STATIC_URL|default:"/static/"}}/js/bootstrap-dropdown.js"></script>
<script src="{{STATIC_URL|default:"/static/"}}/js/bootstrap-2.3.2.min.js"></script>
<script src="{{STATIC_URL|default:"/static/"}}/js/jquery.form.js"></script>
<script src="{{STATIC_URL|default:"/static/"}}/js/main.js"></script>

</body>
</html>
