<!<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Interview Detail</title>
		<link href="{{STATIC_URL|default:"/static/"}}css/bootstrap.css" rel="stylesheet">
		<link href="{{STATIC_URL|default:"/static/"}}css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{STATIC_URL|default:"/static/"}}FooTable-2/css/footable.core.css" rel="stylesheet">
		<link href="{{STATIC_URL|default:"/static/"}}FooTable-2/css/footable.standalone.css" rel="stylesheet">
	</head>
	<body class="indexPage">
		<div class="modal-body">
			<h4 id="welcome-msg"></h4>
			<table class="footable table" id="table1">
				<thead>
					<tr>
						<th class='bidding1'>Candidate Name</th>
						<th>Interviwer Name</th>
						<th>Time of Interview</th>
						<th>Round</th>
						<th>Status</th>
					</tr>
				</thead>
		        <tbody id="table1"> 
		        </tbody> 
		   	</table> 
		</div>
		<script src="{{STATIC_URL|default:"/static/"}}/js/jquery.js"></script>
		<script src="{{STATIC_URL|default:"/static/"}}/js/bootstrap-dropdown.js"></script>
		<script src="{{STATIC_URL|default:"/static/"}}/js/bootstrap-2.3.2.min.js"></script>
		<script src="{{STATIC_URL|default:"/static/"}}/js/jquery.form.js"></script>
		<script src="{{STATIC_URL|default:"/static/"}}/js/main.js"></script>
		<script src="{{STATIC_URL|default:"/static/"}}/js/load-content.js"></script>
		<script src="{{STATIC_URL|default:"/static/"}}FooTable-2/js/footable.js"></script>

	</body>
</html>
